@model PartnerVM
@{
    Layout = "_Layout";
    var Partners = ViewBag.Partners as List<PartnerVM>;

}

<div class="inner-div-depart">


    <div class="row">
        <div class="col-md-4">
            <img src="~/images/Partners/@Model.ImageUrl" style="width:100% ;" />
        </div>
        <div class="col-md-8">
            <h3>@Model.TitleEn</h3>
            <p>
                @Model.DescriptionEn
            </p>
            <br />
        </div>
    </div>

</div>
<br />
<div class="glider-contain">
    <div class="glider Partner-Slider">
        @if (Partners != null)
        {
            foreach (var partner in Partners)
            {
                <div><a asp-action="Details" asp-route-id="@partner.Id"><img src="~/images/Partners/@partner.ImageUrl" /></a></div>
            }
        }
    </div>

    <button aria-label="Previous" class="glider-prev partner-prev">«</button>
    <button aria-label="Next" class="glider-next partner-next">»</button>
    <div role="tablist" class="dots"></div>
</div>


