@{
    Layout = "_Layout";
}

<div class="inner-div-depart">


    <div class="row">
        <div class="col-md-4">
            <img src="~/images/Co1.png" style="width:100% ;" />
        </div>
        <div class="col-md-8">
            <h3>Partner Title</h3>
            <p>
                Al Ansari Hospital is characterized that we have great services,
                including: Acute services such as the emergency
                department, specialized trauma center, burn unit, surgery or
                urgent care. It can then be supported by more specialized
                units such as cardiology, intensive care unit, neuroscience,
                obstetrics and gynecology.
            </p>
            <br />
        </div>
    </div>

</div>
<br />
<div class="glider-contain">
    <div class="glider Partner-Slider">
        <div><a href="Partner-inner.html"><img src="~/images/Co1.png" /></a></div>
        <div><a href="Partner-inner.html"><img src="~/images/Co2.png" /></a></div>
        <div><a href="Partner-inner.html"><img src="~/images/Co3.png" /></a></div>
        <div><a href="Partner-inner.html"><img src="~/images/Co4.png" /></a></div>
        <div><a href="Partner-inner.html"><img src="~/images/Co1.png" /></a></div>
        <div><a href="Partner-inner.html"><img src="~/images/Co2.png" /></a></div>
        <div><a href="Partner-inner.html"><img src="~/images/Co3.png" /></a></div>
        <div><a href="Partner-inner.html"><img src="~/images/Co4.png" /></a></div>

    </div>

    <button aria-label="Previous" class="glider-prev partner-prev">«</button>
    <button aria-label="Next" class="glider-next partner-next">»</button>
    <div role="tablist" class="dots"></div>
</div>


