@{
    Layout = "_Layout";
}

<!-- ----------service-------------- -->
<section class="service-sec">
  <div class="container">
    <h2 class="text-center">WHY YOU CHOOSE Ansari Hospital!!

    </h2>
    <p class="p-service text-center">Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been. </p>





  </div>

</section>

<!-- ----------department-------------- -->
<section class="Doctors-inner-sec">

<div class="container">
<ul class="ul-partner row">
<li class="col-md-3"><a href="Partner-inner.html"><img src="~/images/Co1.png" /></a></li>
<li class="col-md-3"><a href="Partner-inner.html"><img src="~/images/Co2.png" /></a></li>
<li class="col-md-3"><a href="Partner-inner.html"><img src="~/images/Co3.png" /></a></li>
<li class="col-md-3"><a href="Partner-inner.html"><img src="~/images/Co4.png" /></a></li>
<li class="col-md-3"><a href="Partner-inner.html"><img src="~/images/Co1.png" /></a></li>
<li class="col-md-3"><a href="Partner-inner.html"><img src="~/images/Co2.png" /></a></li>
<li class="col-md-3"><a href="Partner-inner.html"><img src="~/images/Co3.png" /></a></li>
<li class="col-md-3"><a href="Partner-inner.html"><img src="~/images/Co4.png" /></a></li>
<li class="col-md-3"><a href="Partner-inner.html"><img src="~/images/Co4.png" /></a></li>

</ul>

</div>
</section>


<h2 class="text-center">Make an appointment today !</h2>
<p class="p-service text-center">
    Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been.
</p>

<div class="appointment-div">
    <div class="container">
        <div class="content-appointment">
            <div class="col-lg-7 col-md-6">

                <h3 class="h3-about">Very Easy Steps</h3>
                <p>Lorem Ipsum is simply dummy text of the printing </p>
                <br />
                <div class="position-relative item-about">
                    <div class="icon-appointment">
                        <i class="fa-solid fa-user-doctor"></i>
                    </div>
                    <div class="appoint-div">

                        <h5>Choose Clinic & Doctor</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                    </div>

                </div>

                <div class="position-relative item-about">
                    <div class="icon-appointment">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    <div class="appoint-div">

                        <h5>Choose Date & Time</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>

                    </div>

                </div>

                <div class="position-relative item-about">
                    <div class="icon-appointment">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="appoint-div">

                        <h5>book your date</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>

                    </div>

                </div>
                <div class="text-center">
                    <a href="#" class="btn-message">Book Now !!</a>
                </div>

            </div>


            <img src="~/images/arrow.png" class="img-arrow" />
            <img src="~/images/ap-doctor.png" class="img-doc" />
        </div>
    </div>


</div>

