@model List<DoctorVM>
@{
    Layout = "_Layout";
}
<div class="inner-page">
    <a asp-controller="Doctor" asp-action="Create" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;"><i class="fa-solid fa-plus"></i> add New</a>

    <div id="doctor-list">
        <partial name="_DoctorsList" model="Model" />
    </div>
    
</div>
