@model CreateUpdateSliderCommand

@{
    Layout = "_Layout";
}

<div class="inner-page">
    <form asp-controller="Slider" asp-action="Create" method="post" class="row" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreationDate" />
        <input type="hidden" asp-for="CreatedUserId" />

        <div class="row">
            <div class="col-md-6">
                <div class="input-sys-wrapper">
                    <label>@Global.NameAr</label>
                    <input type="text" asp-for="TitleAr" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-sys-wrapper">
                    <label>@Global.NameEn</label>
                    <input type="text" asp-for="TitleEn" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-sys-wrapper">
                    <label>Order</label>
                    <input type="number" asp-for="Order"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-sys-wrapper">
                    <label>Alt Image</label>
                    <input type="text" asp-for="AltImage" />
                </div>
            </div>

            <div class="col-md-12">
                <div class="input-sys-wrapper">
                    <label>@Global.DescriptionAr</label>
                    <textarea type="text" asp-for="DescriptionAr"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-sys-wrapper">
                    <label>@Global.DescriptionEn</label>
                    <textarea type="text" asp-for="DescriptionEn"></textarea>
                </div>
            </div>
        </div>

        <ul class=" ul-file">

            <li>
                <span>    Attach File <b>(Hint: W.1200px) </b></span>
                <div class="item-file-div image-upload">
                    @if (Model != null && Model.Id > 0 && Model.ImageUrl != null)
                    {
                        <img class="item-file-div" src="~/images/Partners/@Model.ImageUrl" id="sliderImage">
                        <input type="hidden" asp-for="ImageUrl">
                    }
                    else
                    {
                        <img class="item-file-div" src="~/images/rheumatism.jpg" id="sliderImage">
                    }
                    
                    <label for="SliderImage"><i class="fa-regular fa-pen-to-square"></i></label>
                    <input type="file" asp-for="SliderImage" accept=".gif, .jpg, .png" onchange="setImage(this)" style="display:none;">
                </div>

            </li>

        </ul>

        <div class="text-end">
            <button type="submit" class="save-btn"><i class="fa-solid fa-check"></i> Save </button>
            <button class="cancel-btn"> <i class="fa-solid fa-xmark"></i> Cancel </button>
        </div>
    
    </form>
</div>
<script asp-append-version="true" src="~/js/pages/Slider/AddSlider.js"></script>


