@model TestiminieVM
@{
    Layout = "_Layout";
}


<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(~/images/Testiminies/@Model.ImageUrl);">

    </div>

<h3>@Model.Title</h3>
<p>
    @Model.Description
</p>
    <br/>

    <ul class="light-box-cer">
        @foreach (var item in Model.TestiminieDetailVMs)
        {
            <li><a href="~/images/Testiminies/@item.ImageUrl" data-imagelightbox="g" data-ilb2-caption="Sunset in Tanzania"><img src="~/images/Testiminies/@item.ImageUrl" class="tump-img"></a></li>
        }
    </ul>            


</div>



<br/><br/>
