@model DepartmentVM
@{
    Layout = "_Layout";
    var Departments = ViewBag.Departments as List<DepartmentVM>;
}


<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(/images/rheumatism.jpg);">
    </div>

    <h3>@Model.TitleEn</h3>
    <p>
        @Model.DescriptionEn
    </p>

</div>

<div class="glider-contain">
    <div class="glider Doctor-Slider">
        @if(Departments != null)
        {
            @foreach (var department in Departments)
            {
                <div>
                   <div class="padding-dep">
                       <a href="Department-inner.html" class="item-doctor ">
                           <div class="img-doctor" style="background-image: url(/images/Neurosurgery.jpg);"></div>
                           <h4>@department.TitleEn</h4>
                           <p>
                              @department.DescriptionEn
                           </p>
                       </a>
                   </div>
                </div>
            }
        }
        
        
    </div>

    <button aria-label="Previous" class="glider-prev Doctor-prev">«</button>
    <button aria-label="Next" class="glider-next Doctor-next">»</button>
    <div role="tablist" class="dots"></div>
</div>

