@{
    Layout = "_Layout";
}


<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(~/images/rheumatism.jpg);">
    </div>

    <h3>Rheumatology</h3>
    <p>
        Al Ansari Hospital is characterized that we have great services,
        including: Acute services such as the emergency
        department, specialized trauma center, burn unit, surgery or
        urgent care. It can then be supported by more specialized
        units such as cardiology, intensive care unit, neuroscience,
        obstetrics and gynecology.
    </p>

</div>

<div class="glider-contain">
    <div class="glider Doctor-Slider">
        <div>
            <div class="padding-dep">
                <a href="Department-inner.html" class="item-doctor ">
                    <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                    <h4>Neurosurgery</h4>
                    <p>
                        when an unknown printer
                        took a galley of type
                        and scrambled.
                    </p>
                </a>
            </div>

        </div>

        <div>
            <div class="padding-dep">
                <a href="Department-inner.html" class="item-doctor ">
                    <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                    <h4>Neurosurgery</h4>
                    <p>
                        when an unknown printer
                        took a galley of type
                        and scrambled.
                    </p>
                </a>
            </div>

        </div>
        <div>
            <div class="padding-dep">
                <a href="Department-inner.html" class="item-doctor ">
                    <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                    <h4>Neurosurgery</h4>
                    <p>
                        when an unknown printer
                        took a galley of type
                        and scrambled.
                    </p>
                </a>
            </div>

        </div>
        <div>
            <div class="padding-dep">
                <a href="Department-inner.html" class="item-doctor ">
                    <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                    <h4>Neurosurgery</h4>
                    <p>
                        when an unknown printer
                        took a galley of type
                        and scrambled.
                    </p>
                </a>
            </div>

        </div>
        <div>
            <div class="padding-dep">
                <a href="Department-inner.html" class="item-doctor ">
                    <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                    <h4>Neurosurgery</h4>
                    <p>
                        when an unknown printer
                        took a galley of type
                        and scrambled.
                    </p>
                </a>
            </div>

        </div>

    </div>

    <button aria-label="Previous" class="glider-prev Doctor-prev">«</button>
    <button aria-label="Next" class="glider-next Doctor-next">»</button>
    <div role="tablist" class="dots"></div>
</div>

