@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <h2>We offer complete healthcare programs </h2><br />
        <p>
            Al Ansari Hospital is characterized that we have great services, including:
            Acute services such as the emergency department, specialized trauma center,
            burn unit, surgery or urgent care. It can then be supported by more specialized
            units such as cardiology, intensive care unit, neuroscience, obstetrics and gynecology.
        </p>
        <br />
        <select class="select-oppp option-department">
            <option>Please Choose The department</option>
        </select>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <img src="~/images/ap-doctor.png" class="department-doctor" />
        </div>
    </div>

</div>

   </div>

<div class="department-div">
    <div class="department-div-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="Department-inner.html" class="item-doctor hvr-hang">
                        <div class="img-doctor" style="background-image: url(~/images/Neurosurgery.jpg);"></div>
                        <h4>Neurosurgery</h4>
                        <p>
                            when an unknown printer
                            took a galley of type
                            and scrambled.
                        </p>
                    </a>
                </div>


            </div>
        </div>
    </div>

</div>


