@model CreateUpdateAboutUsCommand

@{
    Layout = "_Layout";
}

<div class="inner-page">
    <form asp-controller="CPanelLookups" asp-action="AboutUs" method="post" class="row" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="accordion" id="AboutUsDiv">
   
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button  accordion-setting collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Our Mission

                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse accordion-content collapse" aria-labelledby="headingOne">
                    <div class="accordion-body">

                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-sys-wrapper">
                                    <label>Title Arabic</label>
                                    <input type="text" asp-for="MissionTitleAr" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-sys-wrapper">
                                    <label>Title English</label>
                                    <input type="text" asp-for="MissionTitleEn" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-sys-wrapper">
                                    <label>Icon Class Name</label>
                                    <input type="text" asp-for="MissionIconName" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-sys-wrapper">
                                    <label>Describtion Arabic</label>
                                    <textarea type="text" asp-for="MissionDescriptionAr"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-sys-wrapper">
                                    <label>Describtion English</label>
                                    <textarea type="text" asp-for="MissionDescriptionEn"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button  accordion-setting collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Our Vision

                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse accordion-content collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">

                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-sys-wrapper">
                                    <label>Title Arabic</label>
                                    <input type="text" asp-for="VisionTitleAr" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-sys-wrapper">
                                    <label>Title English</label>
                                    <input type="text" asp-for="VisionTitleEn" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-sys-wrapper">
                                    <label>Icon Class Name</label>
                                    <input type="text" asp-for="VisionIconName" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-sys-wrapper">
                                    <label>Describtion Arabic</label>
                                    <textarea type="text" asp-for="VisionDescriptionAr"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-sys-wrapper">
                                    <label>Describtion English</label>
                                    <textarea type="text" asp-for="VisionDescriptionEn"></textarea>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
          
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button  accordion-setting collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Our Value

                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse accordion-content collapse" aria-labelledby="headingThree">
                    <div class="accordion-body">

                        <br />
                        <button type="button" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;" onclick="editCardItem('0','CPanelLookups', 'NewOurValue','EditModal', 'editOfferModals' )"><i class="fa-solid fa-plus"></i> @Global.AddNew</button>

                        <div id="ourValue-list">
                            <partial name="_OurValuesList" model="Model.OurValueVMs" />
                        </div>

                    </div>

                </div>

            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button  accordion-setting collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Section Picture

                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse accordion-content collapse" aria-labelledby="headingFour">
                    <div class="accordion-body">

                        <ul class=" ul-file">

                            <li>
                                <span>Attach Photo</span>
                                <div class="item-file-div image-upload">
                                    <img class="item-file-div" src="~/images/rheumatism.jpg" id="aboutUsImage">
                                    <label for="AboutUsImage"><i class="fa-regular fa-pen-to-square"></i></label>
                                    <input type="file" asp-for="AboutUsImage" accept=".gif, .jpg, .png" onchange="setImage(this)" style="display:none;">
                                </div>

                            </li>

                        </ul>

                    </div>

                </div>






            </div>

        </div>
        <div class="text-end">
            <button type="submit" class="save-btn"><i class="fa-solid fa-check"></i> Save </button>
            <button class="cancel-btn"> <i class="fa-solid fa-xmark"></i> Cancel </button>
        </div>
    </form>
</div>

<div id="ModalContainerRenderSection"></div>

@section scripts {
    <script asp-append-version="true" src="~/js/pages/CPanelLookup/AddAboutUs.js"></script>
}

