

<div class="header-chat-item">
    <h6>Mohamed Gamal Kotb</h6>
    <button id="closeItemChat" class="btn-close-item"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="content-chat-item">
    <div class="chat-item-received-item">
        <img src="images/person-2.png" class="img-received-item"> Lorem Ipsum is
        simply dummy text of the printing and typesetting industry.
    </div>
    <div class="chat-item-send-item">
        <img src="images/person-1.png" class="img-send-item"> Lorem Ipsum is simply dummy
        text of the printing
    </div>
    <div class="chat-item-received-item">
        <img src="images/person-2.png" class="img-received-item"> Lorem Ipsum is
        simply dummy text of the printing and typesetting industry.
    </div>
    <div class="chat-item-received-item">
        <img src="images/person-2.png" class="img-received-item"> Lorem Ipsum is
        simply dummy text of the printing and typesetting industry.
    </div>
    <div class="chat-item-send-item">
        <img src="images/person-1.png" class="img-send-item"> Lorem Ipsum is simply dummy
        text of the printing
    </div>

</div>
<div class="input-send-div-item">
    <textarea class="input-send-item"></textarea>
    <button><i class="fa-solid fa-paper-plane"></i></button>
</div>