

<ul class="ul-filter">
    <li class="active-chat"><a href="#">My Team</a></li>
    <li><a href="#">Favourite</a></li>
    <li><a href="#">All Teams</a></li>

</ul>

<div class="chat-search-div">
    <input />
    <button> <i class="fa-solid fa-magnifying-glass"></i></button>
</div>
<div class="overflow-chat">
    <h2 class="h2-chat">Online</h2>
    <ul class="chat-item-li">
        <li>
            <div class="online-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
        <li>
            <div class="online-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>

        <li>
            <div class="online-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>

    </ul>
    <h2 class="h2-chat">Offline</h2>

    <ul class="chat-item-li">
        <li>
            <div class="offline-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
        <li>
            <div class="offline-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
        <li>
            <div class="offline-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
        <li>
            <div class="offline-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
        <li>
            <div class="offline-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
        <li>
            <div class="offline-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
        <li>
            <div class="offline-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
        <li>
            <div class="offline-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
        <li>
            <div class="offline-chat"></div>
            <img src="images/person-1.png">
            <h5>Mohamed Gamal</h5>
            <h6>Position</h6>
        </li>
    </ul>

</div>