<ul id="ul-big-menu" class="big_menu">

    <li class="inner-child active-link"><a href="Dashboard.html"><i class="fa-solid fa-chart-line"></i> Dashboard </a></li>
    <li class="inner-child"><a asp-controller="CPanelLookups" asp-action="SiteInfo"><i class="fa-solid fa-info"></i> Site Information </a></li>

    <li class="inner-child"><a href="Add-Dates.html"><i class="fa-solid fa-calendar-days"></i> Add Dates </a></li>

    <li class="inner-child box">
        <a class="js-toggle" data-container="toggle-3" href="#"><i class="fa-solid fa-file"></i> Sections </a>
        <ul class="toggle-container" id="toggle-3">
            <li><a asp-controller="Slider" asp-action="Index">Slider</a></li>
            <li><a asp-controller="Parntner" asp-action="Index">Parntner</a></li>
            <li><a href="Table.html">People Say</a></li>
            <li><a href="Avertising.html">Advertising</a></li>

        </ul>
    </li>
    <li class="inner-child box">
        <a class="js-toggle" data-container="toggle-4" href="#"><i class="fa-regular fa-building"></i> About Us </a>
        <ul class="toggle-container" id="toggle-4">
            <li class="inner-child"><a asp-controller="OverView" asp-action="Index">Overview</a></li>
            <li class="inner-child"><a asp-controller="CPanelLookups" asp-action="AboutUs">Mission & Mission&Values </a></li>
            <li class="inner-child"><a asp-controller="PatientRight" asp-action="Index">Patient Rights </a></li>
            <li class="inner-child"><a asp-controller="FuturePlan" asp-action="Index">Future Plan </a></li>
            <li class="inner-child"><a asp-controller="Testiminie" asp-action="Index">Testiminies </a></li>


        </ul>
    </li>
    <li class="inner-child box">
        <a class="js-toggle" data-container="toggle-5" href="#"><i class="fa-solid fa-list-ul"></i> Pages </a>
        <ul class="toggle-container" id="toggle-5">
            <li class="inner-child"><a asp-controller="User" asp-action="Doctors">Doctors </a></li>
            <li class="inner-child"><a asp-controller="Blog" asp-action="Index">Blog </a></li>
            <li class="inner-child"><a asp-controller="Event" asp-action="Index">Events </a></li>
            <li class="inner-child"><a asp-controller="Offer" asp-action="Index">Offer </a></li>


        </ul>
    </li>
    <li class="inner-child box">
        <a class="js-toggle" data-container="toggle-6" href="#"><i class="fa-solid fa-laptop-medical"></i> Spcialties & Centres</a>
        <ul class="toggle-container" id="toggle-6">
            <li class="inner-child"><a asp-controller="Department" asp-action="Index">Spcialties</a></li>
        </ul>
    </li>
    <li class="inner-child"><a href="Resource.html"><i class="fa-regular fa-file-word"></i> Resource </a></li>
    <li class="inner-child"><a asp-controller="User" asp-action="Index"><i class="fa-solid fa-user"></i> Users </a></li>

    <li class="inner-child box">
        <a class="js-toggle" data-container="toggle-7" href="#"><i class="fa-solid fa-star"></i> Survey</a>
        <ul class="toggle-container" id="toggle-7">
            <li class="inner-child"><a asp-controller="Survey" asp-action="Index">Survey </a></li>
            <li class="inner-child"><a asp-controller="Question" asp-action="Index">Add question </a></li>
            <li class="inner-child"><a asp-controller="Answer" asp-action="Index">Add Answer </a></li>

        </ul>
    </li>
    
    <li class="inner-child"><a asp-controller="Complaint" asp-action="Index"><i class="fa-solid fa-circle-exclamation"></i> Complaint </a></li>

    <li class="inner-child border-divider"><a asp-controller="CPanelLookups" asp-action="Setting"><i class="fa-solid fa-gear"></i> Setting </a></li>

</ul>

