@using ERP.DAL.Domains
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@inject SignInManager<AspNetUser> SignInManager
@{
    var userImagePath = Context.Request.Cookies["userImagePath"];
    var language = "en";

}
<!DOCTYPE html>
<html lang="@language">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="~/images/five.png">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!--    ..............add this file with arabic only................-->
    <!-- <link rel="stylesheet" href="css/bootstrap-rtl.css" > -->
    @if (language == "ar")
    {
        <link rel="stylesheet" href="~/css/bootstrap-rtl.css">
    }

    <link href="~/lib/bootstrap-sweetalert/sweetalert1.0.1.min.css" rel="stylesheet" />
    

    <link rel="stylesheet" href="~/css/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/Dashboard.css">
    <link rel="stylesheet" href="~/css/Main.css">
    <link rel="stylesheet" href="~/css/Fonts.css">
    <link rel="stylesheet" href="~/css/Menu.css">
    <link rel="stylesheet" href="~/css/All.min.css">
    <link rel="stylesheet" href="~/css/InnerDesign.css">
    <link rel="stylesheet" href="~/css/Chat.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/css/multiselect.css" />
    <script asp-append-version="true" src="~/js/multiselect.min.js"></script>

    <!--kendo CSS-->

    <link href="~/css/Kendo-UI/kendo.common-material.min.css" rel="stylesheet" />
    @*<link href="~/css/Kendo-UI/kendo.rtl.min.css" rel="stylesheet" />*@
    <link href="~/css/Kendo-UI/kendo.material.min.css" rel="stylesheet" />
    <link href="~/css/Kendo-UI/kendo.material.mobile.min.css" rel="stylesheet" />
    <link href="~/css/Pages/CustomAutoComplete.css" rel="stylesheet" />
    <!--End Kendo CSS-->

    <!--...........................links effect...................-->
    <link rel="stylesheet" href="~/css/Btn-effect.css">
    <link rel="stylesheet" href="~/css/Media.css">
    
    @if (language == "en")
    {
        <script src="~/js/ERP_Helper/ERP_HelpersEn.js"></script>
    }
    else
    {
        <script src="~/js/ERP_Helper/ERP_HelpersAr.js"></script>
    }
    @await RenderSectionAsync("Styles", required: false)

    <title>Mail Cpanel</title>
</head>

<body>


    <!-- .........header.............. -->

    <header id="Header" class="padding-nav">
        <div class="row">
            <partial name="_Header" />
        </div>
    </header>

    <div id="bigContainer" class="big-container padding-toggel">
        <nav id="BigNav" class="nav-mobile ">
            <button id="toggel-nav-mobile" class="btn-toggel-mobile">
                <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </button>

            <div class="big-menu">
                <partial name="_CPanelMenu" />
            </div>
            <button class="btn-close-menu" id="btn-close-menu"></button>

        </nav>

        <!-- .........chat.............. -->
        <div class="chat-big-div open-chat" id="chatDiv">
            <button class="btn-close-chat" id="close-chat"><i class="fa-solid fa-xmark"></i></button>
            <partial name="_Chat" />

        </div>

        <!-- .........chat item.............. -->

        <div class="chat-div-item" id="chatItemDiv">
            <partial name="_ChatItem" />

        </div>

        <!-- .........inner Design.............. -->

        <div class="content-page">
            <button class="btn-open-menu" id="btn-open-menu"></button>
            @RenderBody()
        </div>

    </div>

    <!-- search MOdal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small-big modal-dialog-centered">
            <div class="modal-content modal-small">

                <div class="modal-body">
                    <div class="inner-filter">
                        <h3>Mail Search</h3>
                        <ul>
                            <li><label>From</label><input type="date"></li>
                            <li><label>To</label><input type="date"></li>
                            <li>
                                <label>Category</label>
                                <select class="select-filter">
                                    <option>Inbox</option>
                                    <option>Drafts</option>
                                    <option>Trash</option>
                                    <option>Send </option>
                                    <option>Contact </option>
                                </select>
                            </li>

                        </ul>
                        <div class="text-end" style="margin-top: 10px;">
                            <button class="btn btn-success btn-sm"><i class="fa-solid fa-check"></i></button>
                            <button id="closeFilter" class="btn btn-dark btn-sm" data-bs-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Filter Modal -->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small-big modal-dialog-centered">
            <div class="modal-content modal-small">

                <div class="modal-body">
                    <div class="inner-filter">
                        <h3>Mail Filter</h3>
                        <br />
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Unread Message</h6>
                        </div>
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Flag Only </h6>
                        </div>
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Attach Only</h6>
                        </div>

                        <div class="text-end" style="margin-top: 10px;">
                            <button class="btn btn-success btn-sm"><i class="fa-solid fa-check"></i></button>
                            <button id="closeFilter" class="btn btn-dark btn-sm" data-bs-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- move Modal -->
    <div class="modal fade" id="moveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small-big modal-dialog-centered">
            <div class="modal-content modal-small">

                <div class="modal-body">
                    <div class="inner-filter">
                        <h3>Move Mail</h3>
                        <br />
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="archiveMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Inbox</h6>
                        </div>
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="archiveMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Archive </h6>
                        </div>
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="archiveMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Delete</h6>
                        </div>

                        <div class="text-end" style="margin-top: 10px;">
                            <button class="btn btn-success btn-sm"><i class="fa-solid fa-check"></i></button>
                            <button id="closeFilter" class="btn btn-dark btn-sm" data-bs-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- move Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small-big modal-dialog-centered">
            <div class="modal-content modal-small">

                <div class="modal-body">
                    <div class="inner-filter">
                        <h3>Delete Mail</h3>
                        <br />
                        <h6>Are You Sure Delete This Mails</h6>
                        <div class="text-end" style="margin-top: 10px;">
                            <button class="btn btn-success btn-sm"><i class="fa-solid fa-check"></i></button>
                            <button id="closeFilter" class="btn btn-dark btn-sm" data-bs-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="archiveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small-big modal-dialog-centered">
            <div class="modal-content modal-small">

                <div class="modal-body">
                    <div class="inner-filter">
                        <h3>Delete Mail</h3>
                        <br />
                        <h6>Are You Sure Move This Mails to Archive</h6>
                        <div class="text-end" style="margin-top: 10px;">
                            <button class="btn btn-success btn-sm"><i class="fa-solid fa-check"></i></button>
                            <button id="closeFilter" class="btn btn-dark btn-sm" data-bs-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Sweep Modal -->
    <div class="modal fade" id="sweepModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small-big modal-dialog-centered" style="max-width: 500px;">
            <div class="modal-content modal-small">

                <div class="modal-body">
                    <div class="inner-filter">
                        <h3>Mail  Sweep</h3>
                        <p class="p-sweep">For messages from: </p>
                        <p>Font Awesome (hello@fontawesome.com)</p>
                        <br />
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Move all messages from the Inbox folder</h6>
                        </div>
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Move all messages from the Inbox folder and any future messages </h6>
                        </div>
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Always keep the latest message and move the rest from the Inbox folder </h6>
                        </div>

                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Always move messages older than 10 days from the Inbox folder</h6>
                        </div>
                        <div class="row">
                            <label class="col-4" style="margin-top: 5px; font-size: 16px;">Move To</label>
                            <div class="col-8">
                                <select>
                                    <option>Delete</option>
                                    <option>Inbox</option>

                                </select>
                            </div>
                        </div>



                        <div class="text-end" style="margin-top: 10px;">
                            <button class="btn btn-success btn-sm"><i class="fa-solid fa-check"></i></button>
                            <button id="closeFilter" class="btn btn-dark btn-sm" data-bs-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Theme Modal -->
    <div class="modal fade" id="themeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-small-big modal-dialog-centered">
            <div class="modal-content modal-small">

                <div class="modal-body">
                    <div class="inner-filter">
                        <h3>Choose Your Theme</h3>
                        <br />

                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" id="GreenTheme" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Green Theme </h6>
                        </div>
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" id="cloudTheme" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Cloud Theme </h6>
                        </div>
                        <div class="item-check">
                            <label>
                                <input type="radio" class="default__check" id="lightTheme" name="filterMail">
                                <span class="custom__check"></span>

                            </label>
                            <h6>Light Theme</h6>
                        </div>

                        <!-- <div class="item-check">
                            <label>
                              <input type="radio" class="default__check" id="darkTheme" name="filterMail">
                              <span class="custom__check"></span>

                          </label>
                          <h6>Dark Theme</h6>
                        </div> -->

                        <div class="text-end" style="margin-top: 10px;">
                            <button id="closeFilter" class="btn btn-dark btn-sm" data-bs-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div id="overLay" class="overlay-menu"></div>
    <script src="~/js/ThemeLayout.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-sweetalert/sweetalert1.0.1.min.js"></script>
    <script src="~/js/My-js.js"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
            });
        });
    </script>
    <script src="~/js/Resizable.js"></script>
    <script>
        let table = document.getElementsByClassName('main-table')[0];
        resizableGrid(table);
    </script>

    <!--Kendo js-->
    @*<script src="~/js/Kendo-UI/jquery.min.js"></script>*@
    <script src="~/js/Kendo-UI/jszip.min.js"></script>
    <script src="~/js/Kendo-UI/Kendo.all.min.js"></script>
    <script src="~/js/Kendo-UI/kendo.web.min.js"></script>
    @*<script src="~/js/Kendo-UI/kendo.culture.ar-EG.min.js"></script>*@
    <script src="~/js/Kendo-UI/kendo.ar-JO.js"></script>
    <!--End Kendo js-->
    <script asp-append-version="true" src="~/js/common/common.js"></script>
    <script asp-append-version="true" src="~/js/common/shared.js"></script>

    <script asp-append-version="true">
        document.multiselect('#AnswersId')
            .setCheckBoxClick("checkboxAll", function (target, args) {
                console.log("Checkbox 'Select All' was clicked and got value ", args.checked);
            })
            .setCheckBoxClick("1", function (target, args) {
                console.log("Checkbox for item with value '1' was clicked and got value ", args.checked);
            });

        function enable() {
            document.multiselect('#AnswersId').setIsEnabled(true);
        }

        function disable() {
            document.multiselect('#AnswersId').setIsEnabled(false);
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>