@model List<DepartmentVM>

@if (Model != null)
{
    foreach (var Department in Model)
    {
        var id = "Department" + Department.Id;
        <tr id="@id">
            <td>@Department.TitleEn</td>
            <td>@Department.TitleAr</td>
            <td>
                <a asp-action="Edit" asp-route-id="@Department.Id" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                <button class="btn btn-danger btn-sm" onclick="deleteDetail('Department','Delete',@Department.Id,'@id')"><i class="fas fa-times"></i></button>
            </td>
        </tr>
    }
}