@model List<DepartmentVM>

@{
    Layout = "_Layout";
}
<div class="inner-page">
    <a asp-controller="Department" asp-action="Create" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;"><i class="fa-solid fa-plus"></i> add New</a>

    <div id="department-list">
        <partial name="_DepartmentsList" model="Model"/>
     </div>
    
</div>
