@model List<DepartmentVM>
@{
    Layout = "_Layout";
}

<div class="inner-page">
    <a asp-action="Create" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;"><i class="fa-solid fa-plus"></i> add New</a>

    <div class="row">
        <partial name="_Filter" model="0" />
    </div>
    <table id="table_id" class=" table-pages" style="font-size:13px;">
        <thead>

            <tr>
                <th style="max-width:75px ;">@Global.NameEn</th>
                <th style="max-width:75px ;">@Global.NameAr</th>
                <th style="max-width:50px ;"></th>
            </tr>
        </thead>
        <tbody id="departmentsList">

            <partial name="_DepartmentsList" model="@Model" />


        </tbody>
    </table>

</div>
