@model SurveyVM
@{
    Layout = "_Layout";
}
<div class="inner-page">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>question</th>
                <th>Answer</th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model.SurveyQuestionAnswerVMs)
            {
                <tr>
                   <td>
                       @item.QuestionNameEn
                   </td>
                   <td>@item.AnswerNameEn</td>
            </tr>
            }
            
            <tr>
                <td colspan="2">
                    @Model.Feedback
                </td>

            </tr>

        </tbody>

    </table>




</div>
