
<div class="Login-container">
    <div class="row">
        <div class="col-lg-5">

            <div class="reg-div">
                <img src="~/images/logo.png" class="logo-login" />

                <br />
                <h3>@Optic.Congratulation !!</h3>

                <div class="text-center">
                    <img src="~/images/cup.svg" class="icon-done" />
                </div>

                <div class="text-center">
                    <a href="U-Info.html" class="login-btn">@Optic.LoginToYourCpanel</a>
                </div>


            </div>
        </div>
    </div>

    <img src="~/images/login.png" class="login-pic" />

</div>

