@model CreateComplaintCommand

<div class="modal fade" id="Complaint-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small-big modal-dialog-centered" style="max-width: 500px;">
        <div class="modal-content modal-border">

            <div class="modal-body">
                <form asp-controller="Home" asp-action="Complaint" class="inner-filter" id="ComplaintForm">
                    <h3> Customer complaint</h3>
                    <a class="close-btn" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></a>
                    <p class="p-pop">Ansari hospital complaint form</p>

                    <h4 class="text-center">Your opinion matters to us!</h4>

                    <br />

                    <input type="text" asp-for="PhoneNumber" class="input-modal" placeholder="Phone Number" />
                    <span id="PhoneNumberValidation" class="text-danger" style="display:none">@ErrorMessages.Required</span>

                    <br />
                    <textarea asp-for="ComplaintMessage" class="textarea-modal" placeholder="Leave your message..."></textarea>
                    <span id="ComplaintMessageValidation" class="text-danger" style="display:none">@ErrorMessages.Required</span>

                    <br /><br />


                    <div class="text-end" style="margin-top: 10px;">
                        <button type="button" class="btn-done-modal" onclick="AddComplaint()" id="btnSubmit">Submit</button>
                        <button class="btn-cancel-modal" data-bs-dismiss="modal" id="close">Cancel</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<script asp-append-version="true" src="~/js/pages/home.js"></script>


