
<div class="modal fade" id="Complaint-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small-big modal-dialog-centered" style="max-width: 500px;">
        <div class="modal-content modal-border">

            <div class="modal-body">
                <div class="inner-filter">
                    <h3> Customer complaint</h3>
                    <a class="close-btn" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></a>
                    <p class="p-pop">Ansari hospital complaint form</p>

                    <h4 class="text-center">Your opinion matters to us!</h4>

                    <br />

                    <input class="input-modal" placeholder="Phone Number" />

                    <br />
                    <textarea class="textarea-modal" placeholder="Leave your message..."></textarea>
                    <br /><br />


                    <div class="text-end" style="margin-top: 10px;">
                        <button class="btn-done-modal">Submit</button>
                        <button class="btn-cancel-modal" data-bs-dismiss="modal">Cancel</button>

                    </div>



                </div>

            </div>

        </div>
    </div>
</div>
