<div class="emergency-div">
    <div class="text-center">
        <i class="fa-solid fa-suitcase-medical icon-emergency"></i>
        <h2>Need an emergency help ?</h2>
        <a href="tel:966143926444" class="emergency-number"><i class="fa-solid fa-phone"></i> (+966) 14 392 6444</a>
    </div>
    <br />
    <div class="big-container-emergency">

        <div class="container-emergency">
            <div class="emergency-work">
                <h2>Working days & hours</h2>
                <p>
                    Saturday to Wednesday morning<br />
                    9:00 AM-12:00 PM, Evening 5:00 PM-10:00 PM.<br />
                    Thursday Morning 9:00 AM – 12:30 PM.<br />
                    Evening 5:00 AM –9:00 PM.
                </p>
            </div>
        </div>
    </div>
</div>