<div class="row">

    <div class="col-lg-4">
        <img src="~/images/logo.png" class="logo-footer" />
        <h3 class="h3-footer">Our story</h3>
        <img src="~/images/line.svg" class="line-footer" />
        <p class="p-story">
            Contrary to popular belief, Lorem Ipsum
            is not simply random text. It has roots in
            a piece of classical Latin literature from
            45 BC, making it over 2000 years.
        </p>




    </div>

    <div class="col-lg-7  offset-lg-1">
        <div class="row">
            <div class="col-md-4">
                <h3 class="h3-footer">Website links</h3>
                <img src="~/images/line.svg" class="line-footer" />
                <ul class="footer-link">
                    <li><a href="#" class="hvr-underline-from-left">About us</a></li>
                    <li><a href="#" class="hvr-underline-from-left">Specialty center</a></li>
                    <li>
                        <a href="#" class="hvr-underline-from-left">
                            Departments
                        </a>
                    </li>

                    <li><a href="#" class="hvr-underline-from-left">Emergency</a></li>
                    <li><a href="#" class="hvr-underline-from-left">Appointment</a></li>
                    <li><a href="#" class="hvr-underline-from-left">Doctors</a></li>
                    <li><a href="#" class="hvr-underline-from-left">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="h3-footer">Our Services</h3>
                <img src="~/images/line.svg" class="line-footer" />
                <ul class="footer-link">
                    <li><a href="#" class="hvr-underline-from-left"> Dental services</a></li>
                    <li><a href="#" class="hvr-underline-from-left"> Hospice care</a></li>
                    <li><a href="#" class="hvr-underline-from-left">Mental health</a></li>
                    <li><a href="#" class="hvr-underline-from-left">Blood services</a></li>
                    <li><a href="#" class="hvr-underline-from-left">Financial services</a></li>
                    <li><a href="#" class="hvr-underline-from-left">Nursing serivces</a></li>
                    <li><a href="#" class="hvr-underline-from-left"> Physical therapy</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3 class="h3-footer">Contact</h3>
                <img src="~/images/line.svg" class="line-footer" />

                <ul class="contact-footer">
                    <li>
                        <i class="fas fa-map-marker-alt"></i> Umm Al Qura St, Al-Jabriah,
                        Yanbu 46455, Saudi Arabia
                    </li>
                    <li><i class="fas fa-phone"></i>(+966) 14 392 6444</li>
                    <li><i class="fas fa-envelope"></i> Info@alansari-sa.com</li>

                </ul>
                <ul class="social-media-footer">

                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                    <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>

                </ul>


            </div>

        </div>

    </div>

</div>