<div class="row">
    <div class="col-lg-6 ">
        <ul class="conatct-ul">
            <li><a href="#" class="a-header"><i class="fa-solid fa-location-dot"></i> Al-Jabriah, Yanbu 46455</a></li>
            <li>
                <a href="tel:+966143926444" class="a-header"><i class="fa-solid fa-phone"></i> (+966) 14 392 6444</a>
            </li>

        </ul>

    </div>
    <div class="col-lg-6">

        <ul class="login-ul">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#Complaint-modal"> @Optic.Complaint</a></li>

            <li><a href="#" data-bs-toggle="modal" data-bs-target="#Survey-modal"> @Optic.Survey</a></li>

            <li class="disabled-items"><a href="Login.html"><i class="fa-solid fa-user-check"></i> Login / Register</a></li>
            <li><a href="#"> <img src="~/images/egypt.png" /></a></li>
        </ul>

    </div>

</div>