<html lang="en">

<head>
   <partial name="_Styles" />
    @await RenderSectionAsync("Styles", required: false)
    <title>@Optic.HospitalWesite</title>

</head>

<body>

    <header>
        <div class="container">
            <partial name="_Header" />
        </div>

    </header>

    <div class="gradient-div">

        <nav class="nav-menu">
            <div class="container">
                <partial name="_SubHeader" />
            </div>
        </nav>

        <div class="Slider-div">
            <partial name="_Slider" />
        </div>

    </div>

    <!-- ----------appointment-------------- -->
    <section class="appointment-sec">
        <div class="container">
            @RenderBody()
            <br /><br />

            <!-- ----------emergency-------------- -->
            <partial name="_Emergency" />
            <div id="ModalContainerRenderSection"></div>

        </div>
    </section>

    <!-- ----------emergency-------------- -->
    <div class="subscribe-div">
        <div class="container">
            <partial name="_Subscribe" />
        </div>
    </div>
    <!-- ----------footer-------------- -->
    <footer>
        <div class="container">
            <partial name="_Footer" />
        </div>
    </footer>
    <div class="last-footer">
        All Copyrights Reserved To Ansari 2022
    </div>

    <!-- Survey Modal -->
    <partial name="_SurveyForm" />
    <!-- Complaint Modal -->
    <partial name="_ComplaintForm" model="new CreateComplaintCommand()" />
    <a id="hb-gotop"><img src="~/images/arrow-up.png" alt=""></a>
    <partial name="_Scripts" />
    @await RenderSectionAsync("SessionScripts", required: false)
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>