<html lang="en">

<head>
    <partial name="_Styles" />

    <!-- ............for login only........... -->
    <link rel="stylesheet" href="~/css/Login.css">
    <title>@Optic.HospitalWesite</title>

</head>

<body>
    <div class="container">
        @RenderBody()
    </div>

    <a id="hb-gotop"><img src="~/images/arrow-up.png" alt=""></a>
    <partial name="_Scripts" />

</body>

</html>