<div class="slider">
    <!-- slides -->
    <div class="slider__slides">
        <div class="slide s--active">
            <div class="slide__inner" style="background-image:url('/images/banner-3.jpg')">
                <div class="slide__content">
                    <h2 class="slide__heading">
                        Ansari <strong>Medical Treatment</strong>
                        Solutions
                    </h2>
                    <p class="slide__text">
                        uae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt. Neque porro quisquam est
                    </p>
                    <div class="row">
                        <div class="col-7">
                            <ul class="social-media-slider">

                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-5"><button class="liveChat">Live Chat <i class="fa-solid fa-headset"></i></button></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide__inner" style="background-image:url('/images/banner-4.jpg')">
                <div class="slide__content">
                    <h2 class="slide__heading">
                        Ansari <strong>Medical Treatment</strong>
                        Solutions
                    </h2>
                    <p class="slide__text">
                        uae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt. Neque porro quisquam est
                    </p>
                    <div class="row">
                        <div class="col-7">
                            <ul class="social-media-slider">

                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-5"><button class="liveChat">Live Chat <i class="fa-solid fa-headset"></i></button></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide__inner" style="background-image: url('/images/banner-2.jpg')">
                <div class="slide__content">
                    <h2 class="slide__heading">
                        Ansari <strong>Medical Treatment</strong>
                        Solutions
                    </h2>
                    <p class="slide__text">
                        uae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt. Neque porro quisquam est
                    </p>
                    <div class="row">
                        <div class="col-7">
                            <ul class="social-media-slider">

                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-5"><button class="liveChat">Live Chat <i class="fa-solid fa-headset"></i></button></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide__inner" style="background-image: url('/images/banner-1.jpg')">
                <div class="slide__content">
                    <h2 class="slide__heading">
                        Ansari <strong>Medical Treatment</strong>
                        Solutions
                    </h2>
                    <p class="slide__text">
                        uae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt. Neque porro quisquam est
                    </p>
                    <div class="row">
                        <div class="col-7">
                            <ul class="social-media-slider">

                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-5"><button class="liveChat">Live Chat <i class="fa-solid fa-headset"></i></button></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="slide s--prev">
            <div class="slide__inner" style="background-image: url('/images/banner-5.jpg')">
                <div class="slide__content">
                    <h2 class="slide__heading">
                        Ansari <strong>Medical Treatment</strong>
                        Solutions
                    </h2>
                    <p class="slide__text">
                        uae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt. Neque porro quisquam est
                    </p>
                    <div class="row">
                        <div class="col-7">
                            <ul class="social-media-slider">

                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>

                            </ul>
                        </div>
                        <div class="col-5"><button class="liveChat">Live Chat <i class="fa-solid fa-headset"></i></button></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- slides end -->
    <div class="slider__control">
        <div class="slider__control-line"></div>
        <div class="slider__control-line"></div>
    </div>
    <div class="slider__control slider__control--right m--right">
        <div class="slider__control-line"></div>
        <div class="slider__control-line"></div>
    </div>
</div>