<div class="inner-menu">
    <img src="~/images/logo.png" class="logo-Anasari" />

    <nav class="magic-line-menu-pill menu_main">
        <ul id="menu">
            <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
            <li>
                <a asp-controller="Home" asp-action="AboutUs">About us</a>
                <ul>
                    <li><a asp-controller="Home" asp-action="Overview">Overview </a></li>
                    <li><a href='Mission.html'>Our Mission & Vision & Values </a></li>

                    <li><a href='About.html'>Patient Right </a></li>
                    <li><a href='Department.html'>Future Plan </a></li>
                    <li><a href='Testiminies.html'>Testiminies  </a></li>

                </ul>
            </li>

            <li>
                <a asp-controller="Department" asp-action="Index">Specialties &  Centers</a>
                <ul>
                    <li><a asp-controller="Department" asp-action="Index" asp-route-type="@Speciality.Department">Specialties </a></li>
                    <li><a asp-controller="Department" asp-action="Index" asp-route-type="@Speciality.Center">Centers</a></li>

                </ul>
            </li>
            <li><a asp-controller="Doctor" asp-action="Index">Doctors</a></li>
            <li><a href="Blog.html">Blogs</a></li>
            <li><a href="Events.html">Events</a></li>
            <li><a href="Offer.html">Offers</a></li>
            <li><a href="Contact.html">Contact us</a></li>
        </ul>
    </nav>



    <a href="booking-1.html" class="a-Appointment"><i class="fa-solid fa-calendar-days"></i> Appointment</a>

</div>