<div class="subscribe-back">
    <img src="~/images/newsletter.png" class="newsletter-img" />
     <div class="row">
         <div class="col-md-4">
             <h2>
                 subscribe for our
                 <b>newsletter</b>
             </h2>
         </div>
         <div class="col-md-8">
             <div class="subcribe-div">

                 <input class="subcribe-input" />
                 <button class="subcribe-btn">Subscribe</button>
             </div>
         </div>
     </div>
 </div>