@model List<SurveyQuestionVM>

<table id="table_id" class=" table-pages table table-bordered" style="font-size:13px;">
    <thead>
        <tr>
            <th>Title Name english</th>
            <th>Title Name Arabic </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var SurveyQuestion in Model)
        {
            <tr>
                <td> @SurveyQuestion.TitleEn </td>
                <td> @SurveyQuestion.TitleAr </td>

                <td>
                    <a asp-controller="SurveyQuestion" asp-action="Edit" asp-route-id="@SurveyQuestion.Id" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                    <button class="btn btn-dark btn-sm"><i class="fa-regular fa-eye"></i></button>
                    <form asp-controller="SurveyQuestion" asp-action="Delete" asp-route-id="@SurveyQuestion.Id"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-update="#SurveyQuestion-list"
                      data-ajax-mode="replace" autocomplete="off">

                        <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-times"></i></button>

                    </form>

                </td>
            </tr>
        }

    </tbody>
</table>