@model List<SurveyQuestionVM>

@{
    Layout = "_Layout";
}
<div class="inner-page">
    <a asp-controller="SurveyQuestion" asp-action="Create" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;"><i class="fa-solid fa-plus"></i> add New</a>

    <div id="SurveyQuestion-list">
        <partial name="_SurveyQuestionsList" model="Model" />
    </div>

</div>
