<!-- DeletePop Modal -->
<div class="modal fade" id="DeletePop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small-big modal-dialog-centered" style="max-width: 400px;">
        <div class="modal-content modal-small">
            <div class="modal-body">
                <div class="inner-filter">
                    <h3>Delete Item</h3>
                    <br>
                    <h6 class="text-center">Are you Sure ?</h6>
                    <p class="text-center">If you delete this File you Cant Recover this file Again</p>
                    <div class="text-end" style="margin-top: 10px;">
                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-check"></i></button>
                        <button id="closeFilter" class="btn btn-dark btn-sm" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

