<!-- answer Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small-big modal-dialog-centered" style="max-width: 600px;">
        <div class="modal-content modal-small">

            <div class="modal-body">
                <div class="inner-filter">
                    <h3>Answer </h3>
                    <br />
                    <div class="row">
                        <label class="col-md-4" style="margin-top: 5px; font-size: 14px;"> Answer</label>
                        <div class="col-md-8">
                            <input type="text" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <label class="col-md-4" style="margin-top: 5px; font-size: 14px;">Order</label>
                        <div class="col-md-8">
                            <input type="number" />
                        </div>
                    </div>
                    <br />

                    <div class="text-end" style="margin-top: 10px;">
                        <button class="btn btn-success btn-sm"><i class="fa-solid fa-check"></i></button>
                        <button id="closeFilter" class="btn btn-dark btn-sm" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

