@model List<AnswerVM>

@{
    Layout = "_Layout";
}
<div class="inner-page" >
    <button type="button" onclick="editCardItem('0','Answer', 'Edit', 'EditModal', '_AnswerContainer')" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;"><i class="fa-solid fa-plus"></i> add New</button>

    <table id="table_id" class=" table-pages" style="font-size:13px;">
        <thead>
            <tr>
                <th style="max-width:75px ;">@Global.NameEn</th>
                <th style="max-width:75px ;">@Global.NameAr</th>
                <th style="max-width:25px ;">@Optic.Order</th>
                <th style="max-width:50px ;"></th>
            </tr>
        </thead>
        <tbody id="_AnswerContainer">
          <partial name="_AnswersList" model="Model" />

        </tbody>
    </table>
    

    @*<div class="text-end">
        <button class="save-btn"><i class="fa-solid fa-check"></i> Save </button>
        <button class="cancel-btn"> <i class="fa-solid fa-xmark"></i> Cancel </button>
    </div>*@
    <div id="ModalContainerRenderSection"></div>

</div>

<partial name="_Delete" />

@*@section scripts {
    <script asp-append-version="true" src="~/js/Pages/Answer/AddAnswer.js"></script>
}
*@