@model List<OfferVM>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-3">
        <img src="~/images/adv.jpg" class="adv" alt="">

    </div>
    <div class="col-lg-9">
        <div id="paging_container8">

            <ul class="row content">
                @foreach (var offer in Model)
                {
                    <li class="col-lg-4 col-md-6">
                    <div class="big-item">
                        <div class="item-pro">
                            <div class="shap-price"><h6 class="discount">@offer.PriceBefore$</h6> <h6>@offer.PriceAfter$</h6> </div>
                            <a asp-controller="Event" asp-action="Details" asp-route-id="@offer.Id" class="img-pro">
                                <div class="img-offer" style="background-image:url(/images/Offers/@offer.ImageUrl) ;"></div>
                            </a>

                        </div>
                        <h3>@offer.Title</h3>
                        <h5 class="text-end">(6 REVIEWS)</h5>

                    </div>
                </li>
                }
                

            </ul>
            @*<div class="page_navigation"></div>*@
        </div>
    </div>


</div>

