@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-3">
        <img src="~/images/adv.jpg" class="adv" alt="">


    </div>
    <div class="col-lg-9">
        <div id="paging_container8">

            <ul class="row content">
                <li class="col-lg-4 col-md-6">
                    <div class="big-item">
                        <div class="item-pro">
                            <div class="shap-price"><h6 class="discount">3500$</h6> <h6>200$</h6> </div>
                            <a href="Offer-inner.html" class="img-pro">
                                <div class="img-offer" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                            </a>

                        </div>
                        <h3>LVMH Perfumes Cosmetics</h3>
                        <h5 class="text-end">(6 REVIEWS)</h5>

                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <div class="big-item">
                        <div class="item-pro">
                            <div class="shap-price"><h6 class="discount">3500$</h6> <h6>200$</h6> </div>
                            <a href="Offer-inner.html" class="img-pro">
                                <div class="img-offer" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                            </a>

                        </div>
                        <h3>LVMH Perfumes Cosmetics</h3>
                        <h5 class="text-end">(6 REVIEWS)</h5>

                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <div class="big-item">
                        <div class="item-pro">
                            <div class="shap-price"><h6 class="discount">3500$</h6> <h6>200$</h6> </div>
                            <a href="Offer-inner.html" class="img-pro">
                                <div class="img-offer" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                            </a>

                        </div>
                        <h3>LVMH Perfumes Cosmetics</h3>
                        <h5 class="text-end">(6 REVIEWS)</h5>

                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <div class="big-item">
                        <div class="item-pro">
                            <div class="shap-price"><h6 class="discount">3500$</h6> <h6>200$</h6> </div>
                            <a href="Offer-inner.html" class="img-pro">
                                <div class="img-offer" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                            </a>

                        </div>
                        <h3>LVMH Perfumes Cosmetics</h3>
                        <h5 class="text-end">(6 REVIEWS)</h5>

                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <div class="big-item">
                        <div class="item-pro">
                            <div class="shap-price"><h6 class="discount">3500$</h6> <h6>200$</h6> </div>
                            <a href="Offer-inner.html" class="img-pro">
                                <div class="img-offer" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                            </a>

                        </div>
                        <h3>LVMH Perfumes Cosmetics</h3>
                        <h5 class="text-end">(6 REVIEWS)</h5>

                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <div class="big-item">
                        <div class="item-pro">
                            <div class="shap-price"><h6 class="discount">3500$</h6> <h6>200$</h6> </div>
                            <a href="Offer-inner.html" class="img-pro">
                                <div class="img-offer" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                            </a>

                        </div>
                        <h3>LVMH Perfumes Cosmetics</h3>
                        <h5 class="text-end">(6 REVIEWS)</h5>

                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <div class="big-item">
                        <div class="item-pro">
                            <div class="shap-price"><h6 class="discount">3500$</h6> <h6>200$</h6> </div>
                            <a href="Offer-inner.html" class="img-pro">
                                <div class="img-offer" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                            </a>

                        </div>
                        <h3>LVMH Perfumes Cosmetics</h3>
                        <h5 class="text-end">(6 REVIEWS)</h5>

                    </div>
                </li>

            </ul>
            <div class="page_navigation"></div>
        </div>
    </div>


</div>

