@model List<QuestionVM>
@{
    Layout = "_Layout";
}

<div class="inner-page">
    <a asp-controller="Question" asp-action="Create" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;"><i class="fa-solid fa-plus"></i> add New</a>

    <div id="question-list">
        <partial name="_QuestionsList" model="Model" />
    </div>

</div>
