@{
    Layout = "_Layout";
}

<!-- ----------department-------------- -->
<section class="Doctors-inner-sec">
    <div class="text-center">
        <img src="~/images/Radiology.png" />
        <h3>Radiology</h3>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="item-slider-doctor doctor-items">
                    <div class="doctor-pic" style="background-image: url(~/images/doc1.png);"></div>

                    <div class="doc-back">

                        <h6>Doctor Name</h6>

                        <p>Audiologist</p>

                        <i class="fa-solid fa-calendar-days"></i>
                        <div class="icon-doctor"><img src="~/images/spcialist-icon.png"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="item-slider-doctor doctor-items">
                    <div class="doctor-pic" style="background-image:url(~/images/doc1.png);"></div>

                    <div class="doc-back">

                        <h6>Doctor Name</h6>

                        <p>Audiologist</p>

                        <i class="fa-solid fa-calendar-days"></i>
                        <div class="icon-doctor"><img src="~/images/spcialist-icon.png"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="item-slider-doctor doctor-items">
                    <div class="doctor-pic" style="background-image: url(~/images/doc1.png);"></div>

                    <div class="doc-back">

                        <h6>Doctor Name</h6>

                        <p>Audiologist</p>

                        <i class="fa-solid fa-calendar-days"></i>
                        <div class="icon-doctor"><img src="~/images/spcialist-icon.png"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="item-slider-doctor doctor-items">
                    <div class="doctor-pic" style="background-image: url(~/images/doc1.png);"></div>

                    <div class="doc-back">

                        <h6>Doctor Name</h6>

                        <p>Audiologist</p>

                        <i class="fa-solid fa-calendar-days"></i>
                        <div class="icon-doctor"><img src="~/images/spcialist-icon.png"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="item-slider-doctor doctor-items">
                    <div class="doctor-pic" style="background-image: url(~/images/doc1.png);"></div>

                    <div class="doc-back">

                        <h6>Doctor Name</h6>

                        <p>Audiologist</p>

                        <i class="fa-solid fa-calendar-days"></i>
                        <div class="icon-doctor"><img src="~/images/spcialist-icon.png"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="item-slider-doctor doctor-items">
                    <div class="doctor-pic" style="background-image: url(~/images/doc1.png);"></div>

                    <div class="doc-back">

                        <h6>Doctor Name</h6>

                        <p>Audiologist</p>

                        <i class="fa-solid fa-calendar-days"></i>
                        <div class="icon-doctor"><img src="~/images/spcialist-icon.png"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="item-slider-doctor doctor-items">
                    <div class="doctor-pic" style="background-image: url(~/images/doc1.png);"></div>

                    <div class="doc-back">

                        <h6>Doctor Name</h6>

                        <p>Audiologist</p>

                        <i class="fa-solid fa-calendar-days"></i>
                        <div class="icon-doctor"><img src="~/images/spcialist-icon.png"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="item-slider-doctor doctor-items">
                    <div class="doctor-pic" style="background-image: url(~/images/doc1.png);"></div>

                    <div class="doc-back">

                        <h6>Doctor Name</h6>

                        <p>Audiologist</p>

                        <i class="fa-solid fa-calendar-days"></i>
                        <div class="icon-doctor"><img src="~/images/spcialist-icon.png"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<h2 class="text-center">Make an appointment today !</h2>
<p class="p-service text-center">
    Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been.
</p>

<div class="appointment-div">
    <div class="container">
        <div class="content-appointment">
            <div class="col-lg-7 col-md-6">

                <h3 class="h3-about">Very Easy Steps</h3>
                <p>Lorem Ipsum is simply dummy text of the printing </p>
                <br />
                <div class="position-relative item-about">
                    <div class="icon-appointment">
                        <i class="fa-solid fa-user-doctor"></i>
                    </div>
                    <div class="appoint-div">

                        <h5>Choose Clinic & Doctor</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                    </div>

                </div>

                <div class="position-relative item-about">
                    <div class="icon-appointment">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    <div class="appoint-div">

                        <h5>Choose Date & Time</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>

                    </div>

                </div>

                <div class="position-relative item-about">
                    <div class="icon-appointment">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="appoint-div">

                        <h5>book your date</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>

                    </div>

                </div>
                <div class="text-center">
                    <a href="#" class="btn-message">Book Now !!</a>
                </div>

            </div>


            <img src="~/images/arrow.png" class="img-arrow" />
            <img src="~/images/ap-doctor.png" class="img-doc" />
        </div>
    </div>


</div>

