@model BlogVM

@{
    Layout = "_Layout";
}


<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(~/images/rheumatism.jpg);">
    </div>

    <h3>Rheumatology</h3>

    <p>
        Al Ansari Hospital is characterized that we have great services,
        including: Acute services such as the emergency
        department, specialized trauma center, burn unit, surgery or
        urgent care. It can then be supported by more specialized
        units such as cardiology, intensive care unit, neuroscience,
        obstetrics and gynecology.
    </p>

    <div class="row">
        <div class="offset-md-9 col-md-3">
            <div class="blog-inner-details">
                <div class="img-blog-doc" style="background-image:url(~/images/doc1.png) ;">
                </div>
                <h6>Dr., Mohamed Gamal</h6>
                <p>General Manager</p>
                <p><i class="fa-solid fa-calendar-days"></i> 19-5-2022</p>
            </div>
        </div>
    </div>

</div>

<div class="glider-contain">


    <ul class="glider Doctor-Slider blogs-ul">
        <li>
            <div class="padding-dep position-relative">
                <a href="Blog-inner.html">
                    <div class="position-relative">
                        <div class="img-blog" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                        <div class="absolute-blogs container-fluid">
                            <div class="row">
                                <div class="col-7"><i class="fa-solid fa-calendar-days"></i> 17/9/2022</div>
                                <div class="col-5 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                            </div>
                        </div>
                    </div>


                    <h4>Your Blog title here</h4>
                    <h6>Dr., Mohamed Gamal</h6>
                    <hr>
                    <p class="p-blogs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus ex sed eros molestie blandit. Fusce sem enim, commodo sit amet diam pharetr.</p>
                </a>


            </div>
        </li>

        <li>
            <div class="padding-dep position-relative">
                <a href="Blog-inner.html">
                    <div class="position-relative">
                        <div class="img-blog" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                        <div class="absolute-blogs container-fluid">
                            <div class="row">
                                <div class="col-7"><i class="fa-solid fa-calendar-days"></i> 17/9/2022</div>
                                <div class="col-5 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                            </div>
                        </div>
                    </div>


                    <h4>Your Blog title here</h4>
                    <h6>Dr., Mohamed Gamal</h6>
                    <hr>
                    <p class="p-blogs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus ex sed eros molestie blandit. Fusce sem enim, commodo sit amet diam pharetr.</p>
                </a>


            </div>
        </li>
        <li>
            <div class="padding-dep position-relative">
                <a href="Blog-inner.html">
                    <div class="position-relative">
                        <div class="img-blog" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                        <div class="absolute-blogs container-fluid">
                            <div class="row">
                                <div class="col-7"><i class="fa-solid fa-calendar-days"></i> 17/9/2022</div>
                                <div class="col-5 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                            </div>
                        </div>
                    </div>


                    <h4>Your Blog title here</h4>
                    <h6>Dr., Mohamed Gamal</h6>
                    <hr>
                    <p class="p-blogs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus ex sed eros molestie blandit. Fusce sem enim, commodo sit amet diam pharetr.</p>
                </a>


            </div>
        </li>
        <li>
            <div class="padding-dep position-relative">
                <a href="Blog-inner.html">
                    <div class="position-relative">
                        <div class="img-blog" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                        <div class="absolute-blogs container-fluid">
                            <div class="row">
                                <div class="col-7"><i class="fa-solid fa-calendar-days"></i> 17/9/2022</div>
                                <div class="col-5 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                            </div>
                        </div>
                    </div>


                    <h4>Your Blog title here</h4>
                    <h6>Dr., Mohamed Gamal</h6>
                    <hr>
                    <p class="p-blogs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus ex sed eros molestie blandit. Fusce sem enim, commodo sit amet diam pharetr.</p>
                </a>


            </div>
        </li>
        <li>
            <div class="padding-dep position-relative">
                <a href="Blog-inner.html">
                    <div class="position-relative">
                        <div class="img-blog" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                        <div class="absolute-blogs container-fluid">
                            <div class="row">
                                <div class="col-7"><i class="fa-solid fa-calendar-days"></i> 17/9/2022</div>
                                <div class="col-5 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                            </div>
                        </div>
                    </div>


                    <h4>Your Blog title here</h4>
                    <h6>Dr., Mohamed Gamal</h6>
                    <hr>
                    <p class="p-blogs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus ex sed eros molestie blandit. Fusce sem enim, commodo sit amet diam pharetr.</p>
                </a>


            </div>
        </li>
        <li>
            <div class="padding-dep position-relative">
                <a href="Blog-inner.html">
                    <div class="position-relative">
                        <div class="img-blog" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                        <div class="absolute-blogs container-fluid">
                            <div class="row">
                                <div class="col-7"><i class="fa-solid fa-calendar-days"></i> 17/9/2022</div>
                                <div class="col-5 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                            </div>
                        </div>
                    </div>


                    <h4>Your Blog title here</h4>
                    <h6>Dr., Mohamed Gamal</h6>
                    <hr>
                    <p class="p-blogs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus ex sed eros molestie blandit. Fusce sem enim, commodo sit amet diam pharetr.</p>
                </a>


            </div>
        </li>
        <li>
            <div class="padding-dep position-relative">
                <a href="Blog-inner.html">
                    <div class="position-relative">
                        <div class="img-blog" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                        <div class="absolute-blogs container-fluid">
                            <div class="row">
                                <div class="col-7"><i class="fa-solid fa-calendar-days"></i> 17/9/2022</div>
                                <div class="col-5 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                            </div>
                        </div>
                    </div>


                    <h4>Your Blog title here</h4>
                    <h6>Dr., Mohamed Gamal</h6>
                    <hr>
                    <p class="p-blogs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus ex sed eros molestie blandit. Fusce sem enim, commodo sit amet diam pharetr.</p>
                </a>


            </div>
        </li>
        <li>
            <div class="padding-dep position-relative">
                <a href="Blog-inner.html">
                    <div class="position-relative">
                        <div class="img-blog" style="background-image:url(~/images/rheumatism.jpg) ;"></div>
                        <div class="absolute-blogs container-fluid">
                            <div class="row">
                                <div class="col-7"><i class="fa-solid fa-calendar-days"></i> 17/9/2022</div>
                                <div class="col-5 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                            </div>
                        </div>
                    </div>


                    <h4>Your Blog title here</h4>
                    <h6>Dr., Mohamed Gamal</h6>
                    <hr>
                    <p class="p-blogs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus ex sed eros molestie blandit. Fusce sem enim, commodo sit amet diam pharetr.</p>
                </a>


            </div>
        </li>
    </ul>
    <button aria-label="Previous" class="glider-prev Doctor-prev">«</button>
    <button aria-label="Next" class="glider-next Doctor-next">»</button>
    <div role="tablist" class="dots"></div>
</div>

