<!-- ----------What Patient Say-------------- -->
<section class="section-patient">
    <div class="container">
        <h2 class="h2-patient">let's see what our patients says about us</h2>

        <div class="glider-contain">
            <div class="glider Patient-Slider">
                <div>
                    <div class="patient-item">
                        <img src="images/Patient.png" class="img-patient" />
                        <h5>Tarek Mohamed</h5>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and typesetting
                            industry. Lorem Ipsum has been.
                        </p>

                        <input type="textbox" value="5" class="ff-rating rating-star" />
                        <img src="images/que.png" class="que" />
                    </div>
                </div>
                <div>
                    <div class="patient-item">
                        <img src="images/Patient.png" class="img-patient" />
                        <h5>Tarek Mohamed</h5>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and typesetting
                            industry. Lorem Ipsum has been.
                        </p>

                        <input type="textbox" value="5" class="ff-rating rating-star" />
                        <img src="images/que.png" class="que" />
                    </div>
                </div>
                <div>
                    <div class="patient-item">
                        <img src="images/Patient.png" class="img-patient" />
                        <h5>Tarek Mohamed</h5>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and typesetting
                            industry. Lorem Ipsum has been.
                        </p>

                        <input type="textbox" value="5" class="ff-rating rating-star" />
                        <img src="images/que.png" class="que" />
                    </div>
                </div>
                <div>
                    <div class="patient-item">
                        <img src="images/Patient.png" class="img-patient" />
                        <h5>Tarek Mohamed</h5>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and typesetting
                            industry. Lorem Ipsum has been.
                        </p>

                        <input type="textbox" value="5" class="ff-rating rating-star" />
                        <img src="images/que.png" class="que" />
                    </div>
                </div>
                <div>
                    <div class="patient-item">
                        <img src="images/Patient.png" class="img-patient" />
                        <h5>Tarek Mohamed</h5>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and typesetting
                            industry. Lorem Ipsum has been.
                        </p>

                        <input type="textbox" value="5" class="ff-rating rating-star" />
                        <img src="images/que.png" class="que" />
                    </div>
                </div>
                <div>
                    <div class="patient-item">
                        <img src="images/Patient.png" class="img-patient" />
                        <h5>Tarek Mohamed</h5>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and typesetting
                            industry. Lorem Ipsum has been.
                        </p>

                        <input type="textbox" value="5" class="ff-rating rating-star" />
                        <img src="images/que.png" class="que" />
                    </div>
                </div>
            </div>

            <button aria-label="Previous" class="glider-prev Patient-prev">«</button>
            <button aria-label="Next" class="glider-next Patient-next">»</button>
            <div role="tablist" class="dots"></div>
        </div>




    </div>

</section>

