@{
    Layout = "_Layout";
}

<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(/images/rheumatism.jpg);">
    </div>
    <h3>Title Name</h3>
    <p>
        Al Ansari Hospital is characterized that we have great services,
        including: Acute services such as the emergency
        department, specialized trauma center, burn unit, surgery or
        urgent care. It can then be supported by more specialized
        units such as cardiology, intensive care unit, neuroscience,
        obstetrics and gynecology.
    </p>
    <br />
</div>