@{
    Layout = "_Layout";
}
<section class="Contact-sec">
    <div class="container">


        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.3711103743267!2d38.20020088569764!3d24.01797508442016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15b91bac53fbc823%3A0xfb7539f424cad628!2z2YXYs9iq2LTZgdmJINin2YTYo9mG2LXYp9ix2Yog2KfZhNiq2K7Ytdi12Yo!5e0!3m2!1sar!2seg!4v1660774565538!5m2!1sar!2seg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<br /> <br /><br /> <br />

        <div class="row">
        <div class="col-lg-7">
        <h3 class="h3-contact">Send Message</h3>
        <br />
        <div class="row">
        <div class="col-md-6">
        <input class="contact-innput" placeholder="Name">
        </div>
        
        <div class="col-md-6">
        <input class="contact-innput" placeholder="Phone">
        </div>
        
        
        <div class="col-md-12">
        <input class="contact-innput" placeholder="Mail">
        </div>
        
        <div class="col-md-12">
        <textarea class="contact-innput" placeholder="Message"></textarea>
        </div>
        
        <div class="col-md-12">
        <button class="contact-btn hvr-hang">Send</button>
        </div>
        
        </div>
        <br>
        </div>
        
        <div class="col-lg-4 offset-lg-1">
        <h3 class="h3-contact">Stay Connected</h3>
        <br />
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
        
        
        
        
        
        <p class="p-result-Contact"><i class="fas fa-map-marker-alt"></i>  Kingdom Of Saudi Arabia - Yanbu Al Sinaiyah - Al Jabriah District - Umm Al-Qura St.
        
        </p>
    
        
        <p class="p-result-Contact"><i class="fas fa-phone"></i> KSA (+966) 50 486 3663 / KSA (+966) 50 486 3663</p>
        
        
        <p class="p-result-Contact"><i class="fas fa-envelope"></i>  info@ansari-it.com</p>
        
        
        
        
        
        </div>
        
        </div>
        </div>
</section>

<!-- ----------What Patient Say-------------- -->
<section class="section-patient">
<div class="container">
  <h2 class="h2-patient">let's see what our patients says about us</h2>

  <div class="glider-contain">
    <div class="glider Patient-Slider">
      <div>
  <div class="patient-item">
    <img src="images/Patient.png" class="img-patient" />
    <h5>Tarek Mohamed</h5>
    <p>Lorem Ipsum is simply dummy
      text of the printing and typesetting
      industry. Lorem Ipsum has been.</p>

      <input type="textbox"  value="3"  class="ff-rating rating-star" />
      <img src="images/que.png" class="que" />
  </div>
    </div>
    <div>
      <div class="patient-item">
        <img src="images/Patient.png" class="img-patient" />
        <h5>Tarek Mohamed</h5>
        <p>Lorem Ipsum is simply dummy
          text of the printing and typesetting
          industry. Lorem Ipsum has been.</p>
    
          <input type="textbox"  value="3"  class="ff-rating rating-star" />
          <img src="images/que.png" class="que" />
      </div>
        </div>
        <div>
          <div class="patient-item">
            <img src="images/Patient.png" class="img-patient" />
            <h5>Tarek Mohamed</h5>
            <p>Lorem Ipsum is simply dummy
              text of the printing and typesetting
              industry. Lorem Ipsum has been.</p>
        
              <input type="textbox"  value="3"  class="ff-rating rating-star" />
              <img src="images/que.png" class="que" />
          </div>
            </div>
            <div>
              <div class="patient-item">
                <img src="images/Patient.png" class="img-patient" />
                <h5>Tarek Mohamed</h5>
                <p>Lorem Ipsum is simply dummy
                  text of the printing and typesetting
                  industry. Lorem Ipsum has been.</p>
            
                  <input type="textbox"  value="3"  class="ff-rating rating-star" />
                  <img src="images/que.png" class="que" />
              </div>
                </div>
                <div>
                  <div class="patient-item">
                    <img src="images/Patient.png" class="img-patient" />
                    <h5>Tarek Mohamed</h5>
                    <p>Lorem Ipsum is simply dummy
                      text of the printing and typesetting
                      industry. Lorem Ipsum has been.</p>
                
                      <input type="textbox"  value="3"  class="ff-rating rating-star" />
                      <img src="images/que.png" class="que" />
                  </div>
                    </div>
                    <div>
                      <div class="patient-item">
                        <img src="images/Patient.png" class="img-patient" />
                        <h5>Tarek Mohamed</h5>
                        <p>Lorem Ipsum is simply dummy
                          text of the printing and typesetting
                          industry. Lorem Ipsum has been.</p>
                    
                          <input type="textbox"  value="3"  class="ff-rating rating-star" />
                          <img src="images/que.png" class="que" />
                      </div>
                        </div>
    </div>
  
    <button aria-label="Previous"  class="glider-prev Patient-prev">«</button>
    <button aria-label="Next"  class="glider-next Patient-next">»</button>
    <div role="tablist" class="dots"></div>
  </div>




</div>

</section>


<h2 class="text-center">Make an appointment today !</h2>
  <p class="p-service text-center">Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been. </p>

    <div class="appointment-div">
      <div class="container">
           <div class="content-appointment">
        <div class="col-lg-7 col-md-6">

            <h3 class="h3-about">Very Easy Steps</h3>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
            <br/>
            <div class="position-relative item-about">
              <div class="icon-appointment">
              <i class="fa-solid fa-user-doctor"></i>
            </div>
            <div class="appoint-div">

            <h5>Choose Clinic & Doctor</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

            </div>

            </div>

            <div class="position-relative item-about">
              <div class="icon-appointment">
                <i class="fa-solid fa-calendar-days"></i>
              </div>
            <div class="appoint-div">

            <h5>Choose Date & Time</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>

            </div>

            </div>

            <div class="position-relative item-about">
              <div class="icon-appointment">
                <i class="fa-solid fa-check"></i>
              </div>
            <div class="appoint-div">

            <h5>book your date</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>

            </div>

            </div>
            <div class="text-center">
              <a href="booking-1.html" class="btn-message">Book Now !!</a>
            </div>

        </div>


            <img src="~/images/arrow.png" class="img-arrow" />
            <img src="~/images/ap-doctor.png" class="img-doc" />
        </div>
      </div>


    </div>

