@{
    Layout = "_Layout";
}

<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(~/images/rheumatism.jpg);">
    </div>

    <h3>Overview</h3>
    <p>
        Al Ansari Hospital is characterized that we have great services,
        including: Acute services such as the emergency
        department, specialized trauma center, burn unit, surgery or
        urgent care. It can then be supported by more specialized
        units such as cardiology, intensive care unit, neuroscience,
        obstetrics and gynecology.
    </p>
    <br />

    <ul class="row ul-dash-items">

        <li class="col-lg-4">
            <div class="icons-dash-div text-start">

                <h5>Years Of Excellent</h5>
                <i class="fa-solid fa-trophy icons-logo"></i>
                <input class="input-items  text-start" disabled="" value="36+ ">
            </div>

        </li>

        <li class="col-lg-4">
            <div class="icons-dash-div text-start">

                <h5>Beds</h5>
                <i class="fa-solid fa-bed icons-logo"></i>
                <input class="input-items  text-start" disabled="" value="50+ ">
            </div>

        </li>


        <li class="col-lg-4">
            <div class="icons-dash-div text-start">

                <h5>Employees</h5>
                <i class="fa-solid fa-user-group icons-logo"></i>
                <input class="input-items  text-start" disabled="" value=" 600+  ">
            </div>
        </li>


        <li class="col-lg-4">
            <div class="icons-dash-div text-start">

                <h5>Medical Specialties</h5>
                <i class="fa-solid fa-microscope icons-logo"></i>
                <input class="input-items  text-start" disabled="" value="44+  ">
            </div>

        </li>

        <li class="col-lg-4">
            <div class="icons-dash-div text-start">

                <h5>CBAHI Accreditation</h5>
                <i class="fa-solid fa-user-doctor icons-logo"></i>
                <input class="input-items  text-start" disabled="" value="3+  ">



            </div>

        </li>
        <li class="col-lg-4">

            <div class="icons-dash-div text-start">
                <h5>JCI Accreditation</h5>
                <i class="fa-solid fa-hospital icons-logo"></i>
                <input class="input-items  text-start" disabled="" value=" 1+ ">

            </div>
        </li>
    </ul>

</div>



<br />
<br />

