@model OverViewVM
@{
    Layout = "_Layout";
}

<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(/images/rheumatism.jpg);">
    </div>

    <h3>@Model.Title</h3>
    <p>
        @Model.Description
    </p>
    <br />

    <ul class="row ul-dash-items">

        @foreach (var item in Model.OverViewDetailVMs)
        {
            <li class="col-lg-4">
                <div class="icons-dash-div text-start">
                
                    <h5>@item.Title</h5>
                    <i class="fa-solid fa-trophy icons-logo"></i>
                    <input class="input-items  text-start" disabled="" value="@item.Value+ ">
                </div>

            </li>
        }
        
        
    </ul>

</div>



<br />
<br />

