@model List<EventVM>
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-3">

        <div class="exhibtion-div">
            <input class="form-control input-search" placeholder="search...">
        </div>

        <button class="btn back-red btn-search-result"><i class="fas fa-search"></i> Search</button>
        <h3 class="h3-blog">adv</h3>

        <img src="~/images/adv.jpg" class="adv" alt="">
        <img src="~/images/adv.jpg" class="adv" alt="">

        <h3 class="h3-blog">Social</h3>
        <ul class="social-media">

            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>

        </ul>


    </div>

    <div class="col-md-9">
        <div id="paging_container8">

            <div class="row content">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id" class="view view-fifth">
                            <img src="~/images/about.jpg">
                            <div class="caption-pro">
                                @item.Description
                            </div>

                            <div class="mask">
                                <h2>@item.Title</h2>
                                <p>@item.Description</p>
                            </div>
                        </a>

                    </div>
                }
                

            </div>
            @*<div class="page_navigation"></div>*@

        </div>
    </div>
</div>
<div class="clear"></div>
<br />
<br />