@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-3">

        <div class="exhibtion-div">
            <input class="form-control input-search" placeholder="search...">
        </div>

        <button class="btn back-red btn-search-result"><i class="fas fa-search"></i> Search</button>
        <h3 class="h3-blog">adv</h3>

        <img src="~/images/adv.jpg" class="adv" alt="">
        <img src="~/images/adv.jpg" class="adv" alt="">

        <h3 class="h3-blog">Social</h3>
        <ul class="social-media">

            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>

        </ul>


    </div>

    <div class="col-md-9">
        <div id="paging_container8">

            <div class="row content">
                <div class="col-lg-4 col-md-6">
                    <a href="Events-inner.html" class="view view-fifth">
                        <img src="~/images/about.jpg">
                        <div class="caption-pro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>

                        <div class="mask">
                            <h2>Event Name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </a>

                </div>

                <div class="col-lg-4 col-md-6">
                    <a href="Events-inner.html" class="view view-fifth">
                        <img src="~/images/about.jpg">
                        <div class="caption-pro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>

                        <div class="mask">
                            <h2>Event Name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </a>

                </div>

                <div class="col-lg-4 col-md-6">
                    <a href="Events-inner.html" class="view view-fifth">
                        <img src="~/images/about.jpg">
                        <div class="caption-pro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>

                        <div class="mask">
                            <h2>Event Name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </a>

                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="Events-inner.html" class="view view-fifth">
                        <img src="~/images/about.jpg">
                        <div class="caption-pro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>

                        <div class="mask">
                            <h2>Event Name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </a>

                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="Events-inner.html" class="view view-fifth">
                        <img src="~/images/about.jpg">
                        <div class="caption-pro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>

                        <div class="mask">
                            <h2>Event Name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </a>

                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="Events-inner.html" class="view view-fifth">
                        <img src="~/images/about.jpg">
                        <div class="caption-pro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>

                        <div class="mask">
                            <h2>Event Name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        </div>
                    </a>

                </div>

            </div>
            <div class="page_navigation"></div>

        </div>
    </div>
</div>
<div class="clear"></div>
<br />
<br />