@{
    Layout = "_Layout";
}

<div class="inner-page">
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button  accordion-setting" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    About Us
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse accordion-content collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title Arabic</label>
                                <input />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title English</label>
                                <input />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion Arabic</label>
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion English</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>




                    <ul class=" ul-file">

                        <li>
                            <span>    Attach File</span>
                            <div class="item-file-div" style="background-image:url(images/rheumatism.jpg)">
                                <label for="id-1"><i class="fa-regular fa-pen-to-square"></i></label> <input type="file" id="id-1">


                            </div>

                        </li>



                    </ul>







                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button  accordion-setting collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Our Mission

                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse accordion-content collapse" aria-labelledby="headingTwo">
                <div class="accordion-body">

                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title Arabic</label>
                                <input />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title English</label>
                                <input />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Icon Class Name</label>
                                <input />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion Arabic</label>
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion English</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button  accordion-setting collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Our Vision

                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse accordion-content collapse" aria-labelledby="headingThree">
                <div class="accordion-body">

                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title Arabic</label>
                                <input />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title English</label>
                                <input />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Icon Class Name</label>
                                <input />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion Arabic</label>
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion English</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button  accordion-setting collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Our Vision

                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse accordion-content collapse" aria-labelledby="headingFour">
                <div class="accordion-body">

                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title Arabic</label>
                                <input />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title English</label>
                                <input />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Icon Class Name</label>
                                <input />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion Arabic</label>
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion English</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button  accordion-setting collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Our Values


                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse accordion-content collapse" aria-labelledby="headingFive">
                <div class="accordion-body">

                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title Arabic</label>
                                <input />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Title English</label>
                                <input />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-sys-wrapper">
                                <label>Icon Class Name</label>
                                <input />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion Arabic</label>
                                <textarea></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-sys-wrapper">
                                <label>Describtion English</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>

    </div>

    <div class="text-end">
        <button class="save-btn"><i class="fa-solid fa-check"></i> Save </button>
        <button class="cancel-btn"> <i class="fa-solid fa-xmark"></i> Cancel </button>
    </div>

</div>
